* {
  margin: 0;
  padding: 0; }

body {
  background-color: aquamarine; }
  body h1 {
    font-family: 'Poppins', sans-serif;
    color: #050801;
    font-size: 4rem; }
    body h1:hover {
      color: #f33f3f; }
    body h1:active {
      color: #f33f3fbe; }
  body h2 {
    font-family: 'Poppins', sans-serif;
    color: #050801;
    font-size: 2.5rem; }
    body h2:hover {
      color: #f33f3f; }
    body h2:active {
      color: #f33f3fbe; }
  body h3 {
    font-family: 'Poppins', sans-serif;
    color: #050801;
    font-size: 2rem; }
    body h3:hover {
      color: #f33f3f; }
    body h3:active {
      color: #f33f3fbe; }
  body p {
    font-family: 'Poppins', sans-serif;
    color: #050801;
    font-size: 1.2rem; }
