* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aquamarine;
    h1 {
        font-family: 'Poppins', sans-serif;
        color: #050801;
        font-size: 4rem;
        &:hover {
            color: #f33f3f;
        }
        &:active {
            color: #f33f3fbe;
        }
    }
    h2 {
        font-family: 'Poppins', sans-serif;
        color: #050801;
        font-size: 2.5rem;
        &:hover {
            color: #f33f3f;
        }
        &:active {
            color: #f33f3fbe;
        }
    }
    h3 {
        font-family: 'Poppins', sans-serif;
        color: #050801;
        font-size: 2rem;
        &:hover {
            color: #f33f3f;
        }
        &:active {
            color: #f33f3fbe;
        }
    }
}